body {
    font-family: 'Univers LT Std';
    line-height: 1.5;
    font-style: normal;
    font-size: 100%;
    color: #363534;
}
a{
    color: none;
}

/*General quick classes for style --------------------*/
.mt2{ margin-top: 2em;  }
.mt3{ margin-top: 3em;  }
.mt4{ margin-top: 4em;  }
.mt5{ margin-top: 5em;  }
.mt6{ margin-top: 6em;  }

.pdb2{padding-bottom: 2em;}
.pdb1{padding-bottom: 1.5em;}

.row-sm-ct{
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1330px;
}


.container{ max-width: 1330px; }


.menu-item a {
        display: block;
        color: #363534;
        font-size: 1.5em;
}




/*header style --------------------*/
.title-bar {
      background-color: rgb(80, 18, 20);
      width: 100%;
}
.title-content{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 1.5em
}


#head-logo {
    float: left;
    width: auto;
    max-width: 95%;
    height: auto;
    margin-left: 0;
    margin-top: 19px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#title-text {
    font-size: 2.2em;
    text-align: left;
    font-weight: normal;
    margin-left: 0;
    padding-top: 6px;
    clear: both;
    font-family: 'Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;';
    color: #ffffff;
    margin-bottom: 8px;
    letter-spacing: 1px;
}
/*Search bar styles --------------------------------------------------------------------------------------*/

.header-gray{
    background-color: #F6F6F6;
    height: 336px;
 
}
.header-gray-results{background-color: #F6F6F6;}

.search-bar{padding-top: 4em;}

.search-bar-title {
    margin-bottom: 1em;
    text-align: center;
}
.search-typography{
     font-family: 'Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;';
     color: #686868;
}



/*general styles overrides--------------------------------------------------------------------------------------*/

.btn-primary{
    background-color: #005481;
    border-color: #005481;
    font-weight: 100;
    font-size: 1.2em;
    padding: .50rem .85rem;
 }

.btn-primary:hover {
    background-color: #006aa3;
    border-color: #006aa3;

}
 .form-control, .custom-select, .btn-primary{
     box-shadow: 1px 2px 6px #B5B3AA;
 }


.name-results  a{
    font-family: "Univers W01",Helvetica,Calibri,Arial,sans-serif;
    font-size: 1.125em;
    color: #501214;
    font-weight: 600;
    text-decoration: underline;
}
.dept{
    color: #363534;
    font-size: 1em;
    font-weight: 400;

}



/*Footer styles overrides--------------------------------------------------------------------------------------*/ 
#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    height: auto;
    clear: none;
    background-color: rgb(54, 53, 52);
}

.footer-content{
    max-width: 1400px;
    margin: 0 auto;
    
    
}
#leftcollumn_footer {
    float: left;
    margin-top: 0px;
    clear: none;
    width: 70%;
    background-color: rgb(54, 53, 52);
    border-right-color: rgb(15, 15, 15);
    border-right-width: 1px;
    border-right-style: solid;
    margin-right: 0%;
    overflow-wrap: break-word;
    padding-left: 1.5em
    margin-bottom: 1em;
}

#rigthcolum_footer {
    float: left;
    margin-top: 0px;
    clear: none;
    width: 25%;
    background-color: rgb(54, 53, 52);
    border-left-color: rgb(74, 74, 74);
    border-left-width: 1px;
    border-left-style: solid;
    margin-right: 0%;
    overflow: auto;
    margin-bottom: 1em;
}

.footer-title {
    font-size: 1.7em;
    height: auto;
    text-align: left;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-top: 38.765625px;
    clear: none;
    font-family: 'Adobe Garamond Pro';
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: none;
    padding-left: 1em;
}

#contact_info {
    float: left;
    font-size: 1em;
    height: auto;
    text-align: left;
    font-weight: 100;
    clear: both;
    min-height: 18px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0%;
    padding-left: 1.5em;
    padding-bottom: 1em;
}



#tsus {
    float: left;
    max-width: 80%;
    margin-left: 14.795691%;
    margin-top: 9px;
    clear: both;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#txst_logo_footer {
    float: left;
    width: auto;
    max-width: 95%;
    height: auto;
    margin-left: 23.359744%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
}


/*Font styles*/




/*Media queries -------------------------------------------*/
@media (max-width: 50em){
   #leftcollumn_footer{
    width: 100%;
    border-right: none;
    border-bottom-color: rgb(15, 15, 15);
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    float: none;
    overflow: scroll;
    }

   #rigthcolum_footer {
        width: 100%;
        border-left: none;
        border-top-color: rgb(74, 74, 74);
        border-top-width: 1px;
        border-top-style: solid;
    }

    #txst_logo_footer{
        float: none;
        margin:0 auto;
        max-width: 31%;
        padding-top: 1.2em;

    }
    #tsus{
        float: none;
        margin:0 auto;
        max-width: 48%;
        padding-top: .5em;
        padding-bottom: 1em;
    }
    
    .row-sm-ct{
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    }
   

    

}


